vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Jun 2012 15:32:48 -0000
vti_extenderversion:SR|6.0.2.8161
vti_author:SR|Z12345\\jess
vti_modifiedby:SR|Z12345\\jess
vti_timecreated:TR|16 Jun 2012 00:05:53 -0000
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|24 Jun 2012 15:32:36 -0000
vti_cacheddtm:TX|24 Jun 2012 15:32:48 -0000
vti_filesize:IR|1177
vti_cachedlinkinfo:VX|S|../images/big_button.jpg S|../images/small_button.jpg
vti_cachedsvcrellinks:VX|FSUS|clients/bt/images/big_button.jpg FSUS|clients/bt/images/small_button.jpg
